.marco{
	border:solid;
	border-width: 2px;
	border-color: black;
	border-radius: 5px;
	padding: 5px;
}
.boton{
	padding: 5px;
	background-color: orange;
	border: outset;
	position: relative;
	top: 5px;
	height: 25px;
	width: 120px;
	text-align: center;

}
#caja1{
	background-color: gray;
	padding: 10px; 
}
#caja2{
	background-color: yellow;
	width: 40px;
	height: 40px; 
	display: none;
}
#caja3{
	background-color: blue;
	padding: 10px; 
	width: 40px;
	height: 40px; 
	display: none;
}
#caja4{
	background-color: green;
	padding: 10px;
	width: 40px;
	height: 40px;  
	display: none;
}
#caja5{
	background-color: red;
	top: 355px;
	left: 20px;
	width: 40px;
	height: 40px;  
	border-radius: 20px;
	position: absolute;
}
#caja6{
	background-color: aquamarine;
	top: 355px;
	left: 70px;
	width: 20px;
	height: 20px;  
	position: absolute;
}
#caja7{
	background-color: blue;
	top: 355px;
	left: 130px;
	width: 20px;
	height: 20px;  
	position: absolute;
}
#caja8{
	background-color: darkorange;
	top: 355px;
	left: 180px;
	width: 35px;
	height: 35px;  
	position: absolute;
}
#caja9{
	background-color: indigo;
	top: 355px;
	left: 230px;
	width: 35px;
	height: 35px;  
	position: absolute;
}
#texto{
	display: none;
}
#texto2{
	border-color: red;
}