.cajon{
	border-top: hidden;
	border-left: hidden;
	border-right: medium;
	border-bottom: solid;
	border-width: 2px;
}
.prueba{
	margin-left: 10px;
	width: 1000px;
	height: 1500px;
	border-radius: 15px 15px 15px 15px;
	border-color: blue;
	background-color: aqua;
	border-style: solid;
	border-width: 2px;
}
.Logo{
	margin-left: 10px;
	width: 100px;
	height: 100px;
}
.codigo{
	width: 300px;
	height: 100px;
	position: relative;
	left: 550px;
	top: -125px;
}
.hojadevida{	
	position: relative;
	left: 750px;
	top: -200px;
}
.marco1{
	margin-left: 10px;
	margin-top: 60px;
	width: 1100px;
	height: 45px;
	border-radius: 15px 15px 15px 15px;
	border-style: solid;
	border-width: 2px;
	background-color: lightgray; 
}
.marco2{
	margin-left: 10px;
	margin-top: 10px;
	width: 1100px;
	height: 30px;
	border-radius: 15px 15px 15px 15px;
	border-style: solid;
	border-width: 2px;
	background-color: gray;
}
.marco3{
	margin-left: 10px;
	width: 900px;
	height: 300px;
	border-radius: 15px 15px 15px 15px;
	border-style: solid;
	border-width: 2px;
}
.campos{
	margin-left: 10px;
}

.bordeIzq{
	border-left: groove;
	position: relative;
	left: 230px;
	top: -40px;
}
.bordeDia{
	border-left: groove;
	position: relative;
	left: 230px;
	top: -40px;
}
.bordeMes{
	border-left: groove;
	position: relative;
	left: 290px;
	top: -60px;
}
.bordeAnio{
	border-left: groove;
	position: relative;
	left: 350px;
	top: -80px;
}
.empleo{
	position: relative; ;
	border-left: groove;
	left: 430px;
	top: -115px;	
}
.codcargo{
	position: relative;
	border-left: groove;
	left: 750px;
	top: -155px;
}
.fondoGris{
	background-color: lightgray;
	border:hidden;
}
.fondoBlanco{
	border:hidden;
}
#pa{
	position: absolute;
	left: 20px;
	top: 260px;
}
#sa{
	position: absolute;
	left: 280px;
	top: 260px;
	width: 300px;
}
#nombres{
	position: absolute;
	left: 558px;
	top: 260px;
	width: 360px;
}
#poo{
	position: absolute;
	left: 20px;
	top: 300px;
	width: 348px;
}
#anios{
	position: absolute;
	left: 460px;
	top: 300px;
	width: 200px;
}
#salario{
	position: absolute;
	left: 658px;
	top: 300px;
	width: 260px;
}
.bordeInf{
	border-right: hidden;
	border-left: hidden;
	border-top: hidden;
	border-bottom: groove;
	border-width: 2px;
	width: 260px;
}
.bordeInfIzq{
	border-right: hidden;
	border-left: groove;
	border-top: hidden;
	border-bottom: groove;
	border-width: 2px;
}