#numero{
	font-family: monospace;
	border:hidden;
	background-color: gray;
}
#operaciones{
	font-family: monospace;
	border:hidden;
	background-color: mediumturquoise;
}
#varios{
	font-family: monospace;
	border:hidden;
	background-color: lightgray;
}
.cuerpo{
	font-family: monospace;
	position: fixed;
	margin:50px;
	background-color: silver;
	width: 240px;
	height: 300px;
}
.resultado{		
	position: absolute;
	top: 265px;
	left: 60px;	
	width: 60px;
	height: 35px;
}
.borrar{		
	position: absolute;
	top: 265px;
	left: 120px;
	width: 60px;
	height: 35px;
}
.numero0{		
	position: absolute;
	top: 265px;	
	width: 60px;
	height: 35px;
}
.numero1{	
	position: absolute;
	top: 230px;
	width: 60px;
	height: 35px;
}
.numero2{
	position: absolute;
	top: 230px;
	left: 60px;
	width: 60px;
	height: 35px;
}
.numero3{		
	position: absolute;
	top: 230px;
	left: 120px;	
	width: 60px;
	height: 35px;
}
.numero4{		
	position: absolute;
	top: 195px;	
	width: 60px;
	height: 35px;
}
.numero5{	
	position: absolute;
	top: 195px;
	left: 60px;	
	width: 60px;
	height: 35px;
}
.numero6{
	position: absolute;
	top: 195px;
	left: 120px;	
	width: 60px;
	height: 35px;
}
.numero7{	
	position: absolute;
	top: 160px;	
	width: 60px;
	height: 35px;
}
.numero8{
	position: absolute;
	top: 160px;
	left: 60px;
	width: 60px;
	height: 35px;
}
.numero9{
	position: absolute;
	top: 160px;
	left: 120px;
	width: 60px;
	height: 35px;
}

.suma{		
	position: absolute;
	top: 265px;
	left: 180px;	
	width: 60px;
	height: 35px;
}
.resta{
	position: absolute;
	top: 230px;
	left: 180px;	
	width: 60px;
	height: 35px;
}

.multiplicacion{
	position: absolute;
	top: 195px;
	left: 180px;
	width: 60px;
	height: 35px;
}
.division{
	position: absolute;
	top: 160px;
	left: 180px;
	width: 60px;
	height: 35px;
}
.visor{
	font-family: monospace;
	text-align: right;
	position: absolutee;
	background-color: silver;
	border:hidden;
	width: 240px;
	height: 50px;
}